* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(252, 5%, 80%);
    font-family: Courier, sans-serif;
}

.navbar {
    background-color: hsl(285, 42%, 39%);
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
    overflow: hidden;
}


.navbar>h1 {
    color: white;
}



/* Style the search box inside the navigation bar */
.navbar .search-div {
    float: right;
}
.search-container {
    display: flex;
    align-items: center;
}
  
  .navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    flex: 1;
  }

.navbar .search-div button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .navbar .search-div button:hover {
    background: hsl(252, 5%, 80%);
  }
  
.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    max-height: max-content;
    min-height: 90vh;
    /* padding: 20px; */
}

.note-container {
    width: 60%;
    /* background-color: white; */
    display: flex;
    /* display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    padding-top:70px ;
    gap: 20px; */
    /* position: relative; */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border: 1px solid hsl(287, 61%, 55%);
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: whitesmoke;}

.note-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 0;
} 
nav{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 0px; 
    gap: 40px;
}

#home-btn{
    border: none;
    background-color: hsl(287, 61%, 55%);
    border-radius: 5px;
    color: white;
    width: 10%;
    height: 6%;
}
#home-btn:hover{
background-color: hsl(285, 42%, 39%);
}
.mynote{
    width: 40%;
    height: 70%;
    /* border: 1px solid grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    gap: 20px;

}

.note-title {
text-align: center;
    color: hsl(214, 8%, 62%);
    display: flex;
    justify-content: space-between;
    overflow-wrap: break-word;
    font-size: 20px;
    padding: 5px;
    margin: 0;
    border: none;
}
.note-content {
    background: linear-gradient( hsl(287,34%,46%),hsl(287, 61%, 55%));
    color: hsl(214, 8%, 62%);
    background-color: white;
    height: 60%;
    padding: 10px;
    /* overflow-y: scroll;
    overflow-wrap: break-word; */
    width: 60%;
    border: none;
    border-radius: 5px;
  }
  
  .actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
    height: 10%;
    /* border:1px solid aqua; */
    width: 100%;
  }
#add-btn {
    background-color: hsl(285, 42%, 39%);
    border-radius: 50%;
    color: white;
    bottom: 5px;
    right: 5px;
    padding: 10px;
}
#add-btn:hover {
    background-color: hsl(287, 61%, 55%);
}

#save-btn {
    /* background-color: hsl(285, 42%, 39%); */
    border-radius: 5%;
    border: none;
    background-color: white;
    padding: 5px;
    color: hsl(214, 8%, 62%);
    width: 50px;
    height: 30px;
}
#save-btn:hover{
    border:1px dotted #ddd;
    cursor: pointer;
}
#save-btn:active{
    background-color: #ddd;
}

#delete-btn {
    /* background-color: hsl(285, 42%, 39%); */
    border-radius: 5%;
    border: none;
    color: hsl(214, 8%, 62%);
    background-color: white;
    padding: 5px;
    width: 50px;
    height: 30px;
}
#delete-btn:hover{
    /* height: 35px; */
    border: 1px dotted #ddd;
    cursor: pointer;
}
#delete-btn:active{
    background-color: #ddd;
}

/* media query responsiveness */
@media only screen and (max-width: 1000px){
    .navbar{
        flex-wrap: wrap;
        gap: 10px;
    }
    .new-note{
        width: 70%;
    }
    form>textarea {
        width: 50vw;
        height: 20vh;
    }
    form>input[type="text"] {
        padding: 10px;
        border: none;
        width: 40%;
    }
    .search-div{
        width: 30%;
    }
}
.new-note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: none;
    /* border: 1px solid red; */
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid aqua; */
    padding: 20px;
    /* display: none; */
}

form>textarea {
    margin-top: 10px;
    width: 30vw;
    height: 40vh;
}

form>input[type="text"] {
    padding: 10px;
    border: none;
}

form>input[type="submit"] {
    width: 70px;
    background-color: hsl(214, 8%, 62%);
    border: none;
    border-radius: 5px;
    color: white;
    margin: 20px;
    height: 40px;
}

form>input[type="submit"]:hover {
    background-color: hsl(285, 42%, 39%);
}

.viewBtn{
color: white;
background-color: purple;
border: none;
height:20px;
width: 40px;
margin: 8px;
}
