* {
    padding: 0;
    margin: 0;
}

main {
    background: linear-gradient(hsl(203, 89%, 53%), hsl(250, 100%, 66%));
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
    border: 1px solid blue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
    height: 10%;
    width: 90%;
    /* height: 10%;
    widt0%;h: 5 */
}

#logoutbtn {
    background-color: #5393EE;
    border: none;
    cursor: pointer;

}

#logoutbtn:hover {
    color: white;
}

.createproject {
    width: 50vw;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background-color: #6ea0e2;
    border-radius: 10px;
    min-width: 250px;
    gap: 20px;
}

.createproject>input {
    width: 22vw;
    padding: 5px;
    min-width: 240px;
}

#createtaskbtn {
    /* width: 95%; */
    background-color: #0c63dd;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;

}

.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 70vw;
    height: 60vh;
    border-bottom-left-radius: 10px;

}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}